{% include '@views/header.html.twig' %}

    <form method="post" id="rating-form" class="well form-inline">
        <label class="inline radio">
            <input type="radio" name="cat_rating" class="rating" value="1">
        </label>
        <label class="inline radio">
            <input type="radio" name="cat_rating" class="rating" value="2">
        </label>
        <label class="inline radio">
            <input type="radio" name="cat_rating" class="rating" value="3">
        </label>
        <label class="inline radio">
            <input type="radio" name="cat_rating" class="rating" value="4">
        </label>
    </form>
    
    <nav id="slideshow-nav" class="clearfix">
        <ul>
            <li id="prev">
                <a href="#" 
                   class="btn btn-primary"
                   title="previous kitty"><i class="icon-white icon-arrow-left"></i> previous kitty</a>
            </li>
            <li id="next">
                <a href="#" 
                   class="btn btn-primary"
                   title="next kitty">next kitty <i class="icon-white icon-arrow-right"></i></a>
            </li>
        </ul>
    </nav>
    <div id="slideshow">
        {% for cat in cats %}
            <div><img src="/bundles/prgmrbillratemycat/images/cats/{{ cat.filename }}"
                      width="{{ cat.width }}"
                      height="{{ cat.height }}"
                      alt="{{ cat.name }}"></div>
        {% endfor %}
    </div>

{% include '@views/footer.html.twig' %}