/app/config/*
/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/logs/*
/src/PrgmrBill/RateMyCatBundle/Resources/public/images/
/build/
/vendor/
/bin/
/composer.phar
/app/propel/migrations/
*.sql

